NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-local-anon-key

NEXT_PUBLIC_SUPABASE_REDIRECT_URL=http://localhost:3000/rezervace
NEXT_PUBLIC_SUPABASE_AUTH_REDIRECT_URL=http://localhost:3000/rezervace
