NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-local-anon-key

NEXT_PUBLIC_SUPABASE_REDIRECT_URL=http://localhost:3000/rezervace
NEXT_PUBLIC_SUPABASE_AUTH_REDIRECT_URL=http://localhost:3000/rezervace

# Volitelně pro GitHub Codespaces (nahraď <CODESPACE_NAME>):
# NEXT_PUBLIC_SUPABASE_URL=https://<CODESPACE_NAME>-54321.app.github.dev
# NEXT_PUBLIC_SUPABASE_REDIRECT_URL=https://<CODESPACE_NAME>-3000.app.github.dev/rezervace
# NEXT_PUBLIC_SUPABASE_AUTH_REDIRECT_URL=https://<CODESPACE_NAME>-3000.app.github.dev/rezervace
